extends ./layout.pug
block title
  title Clinic Information

block headComplement
  link(rel="stylesheet", href="/css1/clinicInfo.css", type="text/css")
  script(src="/js1/clinicInfo.js")

block mainContent
 #hall_show.wrap
  .show_title
    h1
      span
      | Clinic Information
  |         
  p
    | Here you can check the location and physicians of the clinic.
    |             
    br
    | For any questions about use, please
    |             
    a(href="/contactus", style="color: peru") Contact US.
 |
 .loading.hide
    img(src="img/loader.gif", alt="loading image", title="loading")
 |
 form.form-wrapper
  input#search(type="text", placeholder="Search for...", required="")
  |     
  input#submit(type="submit", value="go")
