extends ./layout.pug
block title
  title Comments and Rating

block headComplement
  link(rel="stylesheet", href="/css1/comments.css", type="text/css")
  script(src="/js1/comments.js")

block mainContent
  .item(style="left: 124px; z-index: 4; opacity: 1;")
    .pic
      a(href="#")
        img(src="img/physician1.jpg")
    |             
    .txt
      dl
        dt
          a(href="#") Title 
        |                     
        dd.info ****
        |                     
        dd
          span Overall evaluation：
          .star
            .star_red(style="width:48px;")
            .star_grey
        |                     
        dd
          span Patients impression：
          span.pink first
          span.blue second
          span.green third
      |                 
      .comment
        h3 patients evaluation
        |                     
        .comment_list
          ul#list
            li
              b patient1：
              | Good good good
            |                         
            li
              b patient2：
              | Not bad!
            |                         
            li
              b patient3：
              | awosome!
  