extends ./layout.pug
block title
  title Physician List

block mainContent
  #hall_show.wrap
    .show_title
      h1
        span
        | Physician List
    |         
    p
      | This section is dedicated to displaying physicians working in Saskatoon.
      br
      | Click to see physician's profile, whether accepting new patients, post comments and make an
      |             
      ins appointment
      | !
    |         
    |         
    #phyFile(style="margin: 60px;")
      style(type="text/css").
        thead tr{
        background-color: rgba(220, 240, 252, 0.425);
        text-align: center;
        table-layout: auto;
        border:black;
        font-size: 20px;
        color:rgb(6, 2, 32);
        }
      |  
      |                 
      |             
      #phyFile1()
        h1 profileTitle
        |
        table(border="1", style="border:3px solid;border-top-color:rgb(161, 39, 9); border-right-color: rgb(204, 121, 27);border-bottom-color: rgb(138, 30, 30);border-left-color:rgb(143, 60, 65);border-style:groove; box-shadow:0px 6px 6px grey")
          thead(style="background-color: brown")
            tr
              th picture
              |                                 
              th Years as a physician
              |                                 
              th Clinic
              |                                 
              th Accept new patients?
              |                                 
              th Contact
          |                         
          tbody
            tr
              td
                img(src=src, alt="physician1", width="280px")
              |                                 
              td 10
              |                                 
              td Taylor Street
              |                                 
              td Yes
              |                                 
              td 306-111-2222
      |                 
      br
      |                 
      a(href="speciality.html") Good areas
      |  
      |                 
      a(href="/comments") Comments
      |  
      |                 
      a(href="/appointment") Make an appointment
      |  
      |                 
      a(href="http://www.cps.sk.ca/imis/CPSS/Complaints/complaints.aspx?ComplaintsCCO=The%20Complaints%20Process%20Overview", ;="", target="new")
        | Complain
    |
    |
    ul.hallImg_show.clearfix
     each doc in documents
      li
        a(href="#")
          img(class="physician" alt=doc.index src=doc.image)
          ins=`Dr. ${doc.name}`
      
    
//-  script.
    fetch('mongodb://localhost:27017')

    let li = $('#hall_show>ul>li');
    let phyFile = $('#phyFile');
    console.log(li.get(0));
    for (let i = 0; i < li.length; i++) {
    li.get(i).onclick = function () {
    $('#phyFile1>h1').text(doc[i].name);
    }
    }