extends ./layout.pug
block title
  title Newcomer

block headComplement
  link(rel='stylesheet' type='text/css' href='/css1/newcomer.css')

block mainContent
  #hall_show.wrap(style='border:solid 0px; height:800px')
    .show_title
      h1
        span
        | Newcomer
    |         
    p
      | This section caters to newcomers of Saskatoon. Provide information for seeking family physicians, hospitals, and dealing with emergency.
      |         
      |
      div.hallImg_show         
       .container-inner 
        | You’re Not Alone With the Smart Start program, male or female adults will find effective ways to gradually add exercise to their daily routine and improve the chance that they’ll stick with it for life. Smart Start includes a whole range of fitness classes, but it is so much more than that. It is a complete source of information on fitness-related topics, special programs, instruction, and support mechanisms that will not only help you get started with a fitness plan, but increase your chance of success. There is no single right way to develop lasting fitness habits, so we offer a variety of programs, at many different times and locations, to better suit your personal preferences and busy schedule. All you have to do is select activities that interest you and be willing to learn the basic skills. You can then do it on your own or with other adults, who have similar skill levels.
      //each doc in documents
      // li=doc
      #searchPhysician
        form.searchPhysician(action="submit")
         input.nameSearch(type="search", name="name" placeholder='Physician name')
         |
         input.langSearch(type="search", name="language" list="languageList" autocomplete="off" placeholder="Physician language")
         datalist(id='languageList')
           option(value="English")
           option(value="French")
           option(value="Mandarin")
           option(value="Spanish")
           option(value="Urdu")
         |
         input.specSearch(type="search", name="specialty" list="specialtyList" autocomplete="off" placeholder='Physician specialty')
         datalist(id='specialtyList')
           option(value="Cardiology")
           option(value="Child Health")
           option(value="Community Medicine")
           option(value="Family Medicine")
           option(value="General Medicine")
           option(value="General Surgery")
         |
         input.searchPhysician(type="submit", value="Search")
         |
         nbsp
         |
         input.searchPhysician(type="reset", value="Reset")
      |        
      #phyFile(style="" name='phyFile')
        |  
        |                 
        |             
        #phyFile1("hidden")
          h1
          |
          table(border="1", style="border:3px solid;border-top-color:rgb(161, 39, 9); border-right-color: rgb(204, 121, 27);border-bottom-color: rgb(138, 30, 30);border-left-color:rgb(143, 60, 65);border-style:groove; box-shadow:0px 6px 6px grey")
            thead()
              tr
                th Portrait
                |                                 
                th Gender
                |                                 
                th Status
                |                                 
                th Clinic
                |                                 
                th Clinic Address
                |                                 
                th Telephone
                |
                th Specialty
            |                         
            tbody
              tr
                td(id='picture')
                  img(src=src, alt="physician1", width="180px")
                |                                 
                td(id='gender')
                |                                 
                td(id='status') On the Register
                |                                 
                td(id='clinic') 
                  | 
                  a(href='')
                |                         
                td(id='address')
                |        
                td(id='telephone') 306-111-2222
                |
                td(id='specialty') Hematology
          |                 
          br
          | 
          div                
            a(id='more' href="/#phyFile") More...
            |  
            a(id='appointment' href="/appointment") Book appointment
            |  
            a(id='comments' href="/comments") Comments
            |                 
            a(id='complain' href="/complaints", ;="", target="new")
              | Complain
          |
          br
          |
          table(id='moreInfo',"hidden",border="1", style="border:3px solid;border-top-color:rgb(161, 39, 9); border-right-color: rgb(204, 121, 27);border-bottom-color: rgb(138, 30, 30);border-left-color:rgb(143, 60, 65);border-style:groove; box-shadow:0px 6px 6px grey")
            thead()
              tr
                th Taking Patients
                |                                 
                th Work Year
                |                                 
                th Qualifications
                |                                 
                th Languages
                |                                 
                th Rate from patients
                |                                 
                th Discipline History
            |                         
            tbody
              tr
                td(id='accept') Y
                |                                 
                td(id='workYear') 10
                |                                 
                td(id='qualification') LMCC
                |                                 
                td(id='language') English
                  | 
                  a(href='')
                |                         
                td(id='rate') 5.0
                |        
                td(id='disciplineHistroy') None
      |
      |
          
  
