/* Coolors Exported Palette - coolors.co/f93640-606060-1d3160-1f487e-237ba0 */

/* HSL */
$color1: hsla(357%, 94%, 59%, 1);
$color2: hsla(0%, 0%, 38%, 1);
$color3: hsla(222%, 54%, 25%, 1);
$color4: hsla(214%, 61%, 31%, 1);
$color5: hsla(198%, 64%, 38%, 1);

/* RGB */
$color1: rgba(249, 54, 64, 1);
$color2: rgba(96, 96, 96, 1);
$color3: rgba(29, 49, 96, 1);
$color4: rgba(31, 72, 126, 1);
$color5: rgba(35, 123, 160, 1);