#hall_show .show_title{height:120px;background:url(../img/appointmentpage.jpg) 120px 0px no-repeat #586c90}

/*Below is for the BOOK APPOINTMNET FORM*/  
	   .entry-container>.entry-container-inner .center {
		   max-width: 700px;
	   }

	   form#new_entry,form#cancelAppointment{
			 margin-left:0px;
			 font-family: sans-serif;
		   background-color:rgba(19, 35, 47, 0.9);
		   max-width: 700px;
		   border-width: 0;
		   border-color: rgb(230, 182, 62);
	   }
		div.form-header{
		   background-color: white;
		   color:#1ab188;
		   text-align: center;
		   font-family: fantasy;
		   font-style: italic;
	   }
	   div.form-content{
		  margin-left: 40px;
		  font-size: 18px;
		  font-weight:400;
		  font-family:monospace;
	   }
	   label.field-label{
		  font-size: 18px;
		  font-weight:400;
		  font-family:'Titillium Web', sans-serif;
		  color: aquamarine;
		 }
		 input.gd-btn{
			border: 0;
			outline: none;
			border-radius: 0;
			padding: 5px 0;
			margin-bottom:10px;
			font-size: 1.5rem;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .1em;
			background: #1ab188;
			color: #ffffff;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			-webkit-appearance: none;
		 }
		 input#delete{
			 margin:5px;
		 }
	   .m-modal{
		font-size: 16px;
		font-family:'Times New Roman', Times, serif
	   }

/*Below is for tab switch function*/
	   .tab {
		padding-top: 0px;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
		background: #fff;
		width: 70%;
		margin: 0 auto;
		font-family: 'Microsoft Yahei', sans-serif;
		line-height: 1.5;
		font-weight: 300;
		color: #888;
		-webkit-font-smoothing: antialiased;
	  }
	  
	  .tabs {
		display: table;
		position: relative;
		overflow: hidden;
		margin: 0;
		width: 100%;
	  }
	  .tabs li {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
		position: relative;
	  }
	  .tabs a {
		background-color: #eff0f2;
		color: #888;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	  }
	  
	  .tabs_item {
		display: none;
		padding: 0px 0;
	  }
	  .tabs_item h4 {
		font-weight: bold;
		color: #87d3b7;
		font-size: 30px;
	  }
	  .tabs_item img {
		width: 50px;
		float: left;
		margin-top: 5px;
		margin-right: 20px;
	  }
	  .tabs_item:first-child {
		display: block;
	  }
	  
	  .current a {
		color: #fff;
		font-size:15px;
		background: #1ab188;
	  }

/*Below is for search result of 'Cancel appointment' page*/
.searchResult{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}