#hall_show .show_title{height:120px;background:url(../img/clinicInfo.jpg) 50px 0px no-repeat #586c90}

/*Below is all about the FORM*/  
	   .entry-container>.entry-container-inner .center {
		   max-width: 700px;
	   }

	   form#new_entry {
		   margin-left:160px;
		   background-color: rgb(255, 249, 249);
		   max-width: 700px;
		   border-width: 0;
		   border-color: rgb(230, 182, 62);
	   }
		div.form-header{
		   background-color: rgb(226, 143, 35);
		   text-align: center;
		   font-family: fantasy;
		   font-style: italic;
	   }
	   div.form-content{
		  margin-left: 40px;
		  font-size: 18px;
		  font-weight:400;
		  font-family:monospace;
	   }
	   label.field-label{
		  font-size: 18px;
		  font-weight:400;
		  font-family:Arial, Helvetica, sans-serif;
		  color: brown;
	   }

