body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
	margin: 0;
	padding: 0
}
fieldset, img {
	border: 0
}
ol, ul {
	list-style: none
}

.wrap {
	width: 1000px;
	margin: 0 auto;
	zoom: 1;
}

.clearfix:after { 
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
	display: inline-block
}
* html .clearfix {
	height: 1%
}
.clearfix {
	display: block
}

body {
    background-color: #eee;
  }

  #subNav{width:100%;height:80px;background-color:rgb(24, 6, 75);margin-bottom:20px}
  #subNav li{float:left;position:relative}
  #subNav .wrap{width:1002px;}
  #subNav a{display:block;width:167px;height:67px;text-align:center;color:#9c9a9a;padding-top:13px}
  #subNav a:hover{text-decoration:none}
  #subNav a ins{display:block;width:52px;height:40px;margin:0 auto;background:url(../images/souche_sprite2.jpg) no-repeat 10px -334px}
  #subNav a span{position:absolute;width:20px;height:20px}
  #subNav a:hover,#subNav .adv_active a{background-color:rgb(121, 11, 93);color:#fff}
  #subNav a:hover ins,#subNav .adv_active ins{background:url(../images/souche_service1.png) no-repeat 10px -190px}
  #subNav a:hover span,#subNav .adv_active span{background:url(../images/souche_png.png) no-repeat 0 -90px;left:76px;bottom:-10px;_background:none}
  #subNav .adv_source ins{background-position:-49px -334px}
  #subNav .adv_price ins{background-position:-101px -334px}
  #subNav .adv_transfer ins{background-position:-155px -334px}
  #subNav .adv_payment ins{background-position:-202px -334px}
  #subNav .adv_promise ins{background-position:-251px -334px}
  #subNav .adv_ride ins{background-position:-301px -334px}
  #subNav .adv_finance ins{background-position:-349px -334px}
  #subNav .adv_source:hover ins,#subNav .adv_active .adv_source ins{background-position:-49px -191px}
  #subNav .adv_price:hover ins,#subNav .adv_active .adv_price ins{background-position:-101px -191px}
  #subNav .adv_transfer:hover ins,#subNav .adv_active .adv_transfer ins{background-position:-155px -191px}
  #subNav .adv_payment:hover ins,#subNav .adv_active .adv_payment ins{background-position:-202px -191px}
  #subNav .adv_promise:hover ins,#subNav .adv_active .adv_promise ins{background-position:-251px -191px}
  #subNav .adv_ride:hover ins,#subNav .adv_active .adv_ride ins{background-position:-301px -191px}
  #subNav .adv_finance:hover ins,#subNav .adv_active .adv_finance ins{background-position:-349px -191px}
  .fixedSubNav{position:fixed;top:0;left:0;z-index:1000}



  #brand_affect,#hall_show,#alpha_price,#checkCar,#rideCar,#quality_promise,#stockFinance,#ourInfo,#sellFlow
  {background-color:#fff;margin-bottom:20px;border:1px solid #d9d9d9}
  
  #hall_show{padding-bottom:5px}
  #hall_show .show_title{height:120px;background:url(../img/frontpage.jpg) 120px 0px no-repeat #586c90}
  #hall_show .show_title h1{font-size:25px;color:rgb(157, 188, 224);text-shadow:2px 2px 5px gray;background-color:maroon;margin-left:0px;margin-right:700px;padding-top:0px;padding-left:60px}
  #hall_show p{color:#444;font-size:18px;padding-top:35px;line-height:1.8em;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;width:966px;margin:0 auto;margin-bottom:35px}
  #hall_show p ins{color:red;font-size:24px}  /*#ff4301*/
  .hallImg_show{padding-left:5px}
  .hallImg_show li{float:left;margin:5px;position:relative;}
  .hallImg_show ins{position:absolute;left:0;bottom:0;width:100%;zoom:1;line-height:0.5em;padding:15px 0;background-color:rgba(0,0,0,0.5);font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;color:#fff;text-align:center;font-size:10px}

li img{
    height:80px;
    border: 1px solid rgb(204, 134, 221);
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}

li img:hover {
    box-shadow:2px 2px 16px 1px rgba(0,0,0,0.75);
  }

#phyFile h1{
	font-family: fantasy;
	
	background-color: white;
}

#phyFile1 thead tr {
        background-color: rgba(26, 145, 219, 0.425);
        text-align: center;
        table-layout: auto;
        border:black;
		font-size: 22px;
		font-weight:bold;
        color:rgb(6, 2, 32);
		}
		
#phyFile1 tbody {
        background-color: rgba(220, 240, 252, 0.425);
        text-align: center;
        table-layout: auto;
        border:black;
        font-size: 16px;
        color:rgb(6, 2, 32);
		}

#phyFile1 #comments,#phyFile1 #appointment,#phyFile1 #complain{
	background-color: rgba(220, 240, 252, 0.425);
        text-align: center;
		table-layout: auto;
		border:1px inset darkred;
		font-family:Impact, Haettenschweiler;
		color: #480d8b;
        font-size: 16px;
}

#phyFile1 #comments:hover,#phyFile1 #appointment:hover, #phyFile1 #complain:hover{
	text-decoration: none;
	background-color:#480d8b;
	color:white;
}

#footer{position:relative;zoom:1;}
#footer {
	margin-top: 30px;
	height: auto;
}
#footer .wrapper {
	width: 1190px;
	margin: 0 auto;
	overflow: hidden
}
#footer .friendlinks {
	text-align: center;
	margin-top: 20px
}
#footer .friendlinks a {
	font-size: 12px;
	color: rgb(153, 153, 153);
	padding: 0 10px;
	border-right: 1px solid #e6e6e6
}
#footer .friendlinks a.last {
	border: none
}
#footer .footer-content {
	background: #4e374e;
	border-top: 1px solid #e6e6e6
}
#footer .performance {
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
	width: 1400px
}
#footer .performance i {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 8px;
	left: 20px
}
#footer .performance .per {
	float: left;
	width: 465px
}
#footer .performance .per a {
	display: block
}
#footer .performance .per-1 a {
	background: url(../images/per-1.png) no-repeat;
	background-position: left
}
#footer .performance .per-2 a {
	background: url(../images/per-2.png) no-repeat;
	background-position: left
}
#footer .performance .per-3 a {
	background: url(../images/per-3.png) no-repeat;
	background-position: left
}
#footer .performance .t {
	font-size: 16px;
	line-height: 30px;
	color: #666;
	margin-left: 50px
}
#footer .performance .st {
	font-size: 14px;
	color: #999;
	line-height: 20px;
	margin-left: 50px
}
#footer .company_info {
	padding: 20px 0px
}
#footer .company_info .wrap {
	text-align: center
}
#footer .company_info .wrap a {
	color: #666;
	padding: 0 10px
}